<div class="register-page">
  <div class="form-box">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input class="uk-input" type="email" placeholder="Enter email address" name="email" id="email" required formControlName="email">
      <input class="uk-input" type="text" placeholder="Enter username name" name="username" id="username" required formControlName="username">
      <input class="uk-input" type="text" placeholder="Enter display name" name="displayname" id="displayname" required formControlName="displayname">
      <input class="uk-input" type="password" placeholder="Enter password" name="password" id="password" required formControlName="password">
      <div class="form-buttons">
        <input type="submit" class="uk-button uk-button-danger" value="Create account">
      </div>
      <p>Already registered? <a routerLink="/login">Sign-in here</a></p>
    </form>
    <div class="register_errorMsg" aria-hidden="true">Some input fields are invalid</div>
  </div>
</div>
