<div class="register-page">
  <div class="form-box">
    <form class="register-form">
      <input class="uk-input" type="text" placeholder="Username">
      <input class="uk-input" type="text" placeholder="Display Name">
      <input class="uk-input" type="email" placeholder="E-Mail">
      <input class="uk-input" type="password" placeholder="Password">
      <input class="uk-input" type="password" placeholder="Re-type Password">
      <div class="form-buttons">
        <button class="uk-button uk-button-danger">Create account</button>
      </div>
      <p>Already registered? <a routerLink="../login">Sign-in here</a></p>
    </form>
  </div>
</div>
