<app-header></app-header>
<div class="home-container">
  <div class="time-line">
    <h1>Home</h1>
    <div class="noot-input">
      <img ngxGravatar class="profile-picture" [email]=user.email fallback="retro">
      <textarea class="uk-input" [(ngModel)]='nootText' maxlength="140" name="listFilter" placeholder="What's happening?"></textarea>
      <button
        class="uk-button uk-button-primary"
        [disabled]="!nootText"
        (click)="sendNoot()">
        Noot</button>
      <p class="char-left">Characters left: {{140 - nootText.length}}</p>
    </div>
    <div uk-spinner class="spinner" *ngIf="noots.length == 0"></div>
    <ng-container *ngFor="let noot of noots">
      <app-noot [noot]="noot"></app-noot>
    </ng-container>
  </div>
</div>
