*{
  margin: 0;
}

.global-timeline-container {
  width: 100%;
  display: flex;
  justify-content: center;
  h1{
    font-weight: bolder;
    font-size: 1.5em;
    margin: 10px;
  }
}

.noot-input {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  img{
    margin-right: 20px;
  }
  textarea {
    resize: vertical;
    width: calc(100% - 80px);
    min-height: 80px;
    background: transparent;
    border: transparent;
  }
  button {
    margin-top: 10px;
    margin-left: 70px;
  }
}

.time-line{
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.profile-picture {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.char-left{
  margin-left: calc(100% - 38ch);
  font-weight: lighter;
}

.spinner {
  margin: 30px auto;
}
