<app-header></app-header>
<ng-container *ngIf="user">
  <div class="profile-container">
    <div class="time-line">
      <div class="user-header" >
        <div class="user-header-left">
          <div class="uk-flex uk-flex-row uk-flex-middle user-info">
            <img ngxGravatar class="profile-picture" [email]=user.email fallback="retro">
            <p class="display-name">{{user.displayname}}</p>
            <p class="username">@{{user.displayname}}</p>
          </div>
        </div>
        <div class="uk-flex uk-flex-row uk-flex-middle user-header-right">
          <p class="follow-text" [routerLink]="['/users']" [queryParams]="{action: 'following', id: user.id}">Follows: {{followingAmount}}</p>
          <p class="follow-text" [routerLink]="['/users']" [queryParams]="{action: 'followers', id: user.id}">Followers: {{followerAmount}}</p>
          <input type="button" class="uk-button uk-button-default" [(ngModel)]="textFollowBtn" (click)="updateFollow()">
        </div>
      </div>
      <div uk-spinner class="spinner" *ngIf="noots.length == 0"></div>
      <ng-container *ngFor="let noot of noots">
        <app-noot [noot]="noot"></app-noot>
      </ng-container>
    </div>
  </div>
</ng-container>
