*{
  margin: 0;
}

.home-container {
  width: 100%;
  display: flex;
  justify-content: center;
  h1{
    font-weight: bolder;
    font-size: 1.5em;
    margin: 10px;
  }
}

.time-line{
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.profile-picture {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

* {
  margin: 0;
}

.noot {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1em;
  padding: 0.3em;
}

.profile-picture {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.user-info {
  padding: 0.8em;
}

.display-name{
  font-weight: bold;
  margin-right: 10px;
}

.username{
  font-weight: lighter;
  margin-right: 10px;
}

.spinner {
  margin: 30px auto;
}
